 /* general */

 *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* index.html title FUTRAJ*/
.title{
  text-align: center;
  padding-top: 1%;
}

/* tax form */
.tax{
  text-align: center;
  padding-top: 1%;
}

.resetBTN{
flex-direction: column;
align-items: center;
padding: 6px 14px;
font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
border-radius: 6px;
border: none;

background: #6E6D70;
box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
color: #DFDEDF;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.resetBTN:focus {
box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
outline: 0;
}

.submitBTN{
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitBTN:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.aboutBody{
padding-left: 15%;
}

/* marquee matchups space between footer  */

.marqueeTitle{
padding-bottom: 50px;
}

/* marquee matchups title alligment  */

.marqueeTitle h1{
color: black;
padding-top: 50px;
padding-left: 15%;

}

/* marquee matchups images alligment  */

.marqueePredictions{
  max-width: 800px;
  padding-left: 10%;
}

.marqueePredictions img{
padding-left: 15%;
width: 55%;
height: 30%;
}

/* marquee matchups week (font sizes, positioning)*/

.marqueePredictions h2{
  font-size: 20px;
  position: relative;
  left: 350px;
  bottom: 130px;
}

.marqueePredictions button{
  font-size: 20px;
  position: relative;
  left: 350px;
  bottom: 130px;
}

/* marquee matchups deep content */

.marquee-content{
  padding-top: 30px;
  text-align: left;
  padding-left: 15%;
}

.marquee-content h3{
  margin-top: 19px;
  font-size: 20px;
  color: black;
}

.marquee-content img{
  width: 769px;
  height: 433px;
}

/* marquee matchups border games */

.MarqueeGames h3{
 margin-top: 50px;
}

.MarqueeGames h2{
  position: relative;
  left: 70px;
  text-align: center;
  width: 290px;
  background-color: paleturquoise;
  
}




/* customize search bar */


.search1{
  position: relative;
  right: 250px;
}

.search2{
  position: relative;
  right: 130px;
}

