 /* general */

 *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


/* marquee matchups space between footer  */

.marqueeTitle{
padding-bottom: 50px;
}

/* marquee matchups title alligment  */

.marqueeTitle h1{
color: black;
padding-top: 50px;
padding-left: 15%;

}

/* marquee matchups images alligment  */

.marqueePredictions{
  max-width: 800px;
  padding-left: 10%;
}

.marqueePredictions img{
padding-left: 15%;
width: 55%;
height: 30%;
}

/* marquee matchups week (font sizes, positioning)*/

.marqueePredictions h2{
  font-size: 20px;
  position: relative;
  left: 350px;
  bottom: 130px;
}

.marqueePredictions button{
  font-size: 20px;
  position: relative;
  left: 350px;
  bottom: 130px;
}

/* marquee matchups deep content */

.marquee-content{
  padding-top: 30px;
  text-align: left;
  padding-left: 15%;
}

.marquee-content h3{
  margin-top: 19px;
  font-size: 20px;
  color: black;
}

.marquee-content img{
  width: 769px;
  height: 433px;
}

/* marquee matchups border games */

.MarqueeGames h3{
 margin-top: 50px;
}

.MarqueeGames h2{
  position: relative;
  left: 70px;
  text-align: center;
  width: 290px;
  background-color: paleturquoise;
  
}




/* customize search bar */


.search1{
  position: relative;
  right: 250px;
}

.search2{
  position: relative;
  right: 150px;
}

