 /* general */

 *{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


/* marquee matchups space between footer  */

.marqueeTitle{
padding-bottom: 50px;
}

/* marquee matchups title alligment  */

.marqueeTitle h1{
color: black;
padding-top: 50px;
padding-left: 15%;

}

/* marquee matchups images alligment  */

.marqueePredictions{
  max-width: 800px;
  padding-left: 10%;
}

.marqueePredictions img{
padding-left: 15%;
width: 55%;
height: 30%;
}

/* marquee matchups week (font sizes, positioning)*/

.marqueePredictions h2{
  font-size: 20px;
  position: relative;
  left: 350px;
  bottom: 130px;
}

.marqueePredictions button{
  font-size: 20px;
  position: relative;
  left: 350px;
  bottom: 130px;
}

/* marquee matchups deep content */

.marquee-content{
  padding-top: 30px;
  text-align: left;
  padding-left: 15%;
}

.marquee-content h3{
  margin-top: 19px;
  font-size: 20px;
  color: black;
}

.marquee-content img{
  width: 769px;
  height: 433px;
}

/* marquee matchups border games */

.MarqueeGames h3{
 margin-top: 50px;
}

.MarqueeGames h2{
  position: relative;
  left: 70px;
  text-align: center;
  width: 290px;
  background-color: paleturquoise;
  
}




/* customize search bar */


.search1{
  position: relative;
  right: 200px;
}

.search2{
  position: relative;
  right: 110px;
}


.search3{
  position: relative;
  right: 100px;
}

.search4{
  position: relative;
  right: 180px;
}


/* loginForm */ 

.loginForm{
  height: 520px;
  width: 400px;
  background-color: black;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.loginForm *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.loginForm h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.loginForm label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.loginInput{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder{
  color: #e5e5e5;
}
.loginButton{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}


/* logout page */ 


/* sign up form */ 

.registerForm{
  height: 750px;
  width: 400px;
  background-color: black;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
.registerForm *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.registerForm h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

.registerForm label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.registerButton{
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

/* rank calculator form */ 

#rankCalculator {
  padding-top: 70px;
  text-align: center;
}

.title{
  padding-top: 40px;
  text-align: center;
}

/* players card searcher */ 

